.Header{
    width: 100vh;
    height: 10vh;
    display: inline;
}
.Top-title {
    float: left;
    color: whitesmoke;
    margin-top: 0px;
}
.Top-sign-in{
    float: right;
    display: block;
    color: whitesmoke;
}
.Cart-view{
    display: inline-flex;
    float: right;
    height: 9vh
}
.Cart-button{
    background: none;
    border: none;
    padding-bottom: 0;
    padding-right: 2vmax;
}
.User-name{
    color: whitesmoke;
    padding: 1vmax
}
